/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   placeholder             - arguments: {property: value;}
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

body {
  height: 100%;
  font: 14px/18px "Times New Roman", Times, sans-serif;
  background: #fff;
  color: #222; }

button:focus {
  outline: none; }

a, a:hover {
  text-decoration: none; }

.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.txt-left {
  text-align: left; }

.txt-right {
  text-align: right; }

.container {
  max-width: 940px;
  margin: 0 auto; }
.hide {
  display: none;
}

#header {
  padding: 20px 0;
  position: absolute;
  top: 20px;
  width: 100%; }
#header .logo.left {
  position: relative;
  z-index: 3;
}
.nav {
  margin-top: 5px; }

.nav li {
  float: left;
  margin-right: 40px; }
  .nav li:last-child {
    margin-right: 0; }
  .nav li a {
    color: #fff;
    text-transform: uppercase;
    font: 14px Arial, sans-serif;
    font-weight: bold; }
  .nav li a:hover {
    color: #fed136; }
  .nav-close {
    color: #fff;
    font-size: 35px;
    transform: rotate(-45deg);
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
    display: none;
  }
.menu-icon {
  cursor: pointer;
  display: none;
}
.menu-icon__line {
  display: block;
  height: 2px;
  width: 30px;
  background: #fff;
  margin-bottom: 5px;
}
#home {
  height: 700px;
  padding-top: 270px;
  background: #222 url("../img/home.jpg") no-repeat 60%;
  width: 100%;
  -webkit-background-size: cover;
  -khtml-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff; }
  #home h3 {
    font: 40px/40px Arial, sans-serif;
    margin-bottom: 40px; }
  #home h1 {
    font: 75px/75px Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 50px; }

.btn {
  background: #fed136;
  padding: 20px 30px;
  display: inline-block;
  font: 24px/24px Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff; }

.btn:hover {
  background: #FFDC62; }

.btn:active {
  background: #ECC12E; }

.box {
  padding: 120px 0; }

#service {
  text-align: center; }

h2.title {
  font: bold 40px/40px Arial, sans-serif;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 10px; }

p.descr, p.message {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px;
  font: 16px/16px "Times New Roman", sans-serif; }

.services-item {
  display: inline-block;
  max-width: 250px;
  padding: 90px 10px; }

h5.title {
  margin-bottom: 10px;
  font: bold 18px/18px Arial, sans-serif;
  color: #222; }

.services-wrap, .about-wrap, .portfolio-wrap {
  margin-top: 80px; }

.services-item p {
  font-size: 18px;
  line-height: 24px;
  color: #777; }

.commerce {
  background: #fff url(../img/commerce.png) 50% 0% no-repeat; }

.responsive {
  background: #fff url(../img/responsive.png) 50% 0% no-repeat; }

.security {
  background: #fff url(../img/security.png) 50% 0% no-repeat; }

#portfolio, #team {
  text-align: center;
  background: #f7f7f7; }

.portfolio-item {
  width: 290px;
  display: inline-block;
  margin: 25px 10px;}
  .portfolio-item img {
    margin-bottom: -4px; }

.p-item-footer {
  background: #fff;
  text-align: center;
  padding: 25px 0; }

.p-item-footer span {
  font: 14px/14px "Times New Roman", sans-serif;
  color: #737373; }

#about {
  background: #fff;
  text-align: center; }

.about-item {
  position: relative;
  text-align: center;
  
}

.about-text {
  position: absolute;
  width: 30%;
  top: 0;
   }
  .about-text-left {
      left: 5%;
  }
  .about-text-right {
      right: 5%;
  }
  .about-text h5 {
    line-height: 24px; }
  .about-text p {
    color: #777;
    font-size: 16px;
    font: 16px/24px "Times New Roman", sans-serif; }

.about-img {
  display: inline-block;
  }
  .about-img img {
    width: 177px;
    height: 177px;
    border: 7px solid #f1f1f1;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    box-sizing: content-box; }
  .about-img:after {
    content: "";
    display: block;
    height: 98px;
    width: 3px;
    margin: -4px auto 0;
    background: #f1f1f1; }

.about-link {
  display: block;
  width: 177px;
  height: 177px;
  border: 7px solid #f1f1f1;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  background: #fed136;
  font: 18px/28px Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  padding-top: 30px;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25); }

#team {
  text-align: center; }

.team-wrap {
  margin-top: 70px; }

.team-item {
  display: inline-block;
  width: 250px;
  margin-bottom: 20px;
  padding: 0 10px; }

.team-item img {
  margin-bottom: 15px;
  border: 7px solid #fff;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.team-info {
  margin-top: 45px; }

.cat {
  font: 14px/14px Arial, sans-serif;
  color: #777; }

.social {
  margin-top: 10px; }

.social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 3px;
  border: 3px solid #222;
  background: url(../img/social-sprite.png) no-repeat;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.social a.ic-tw {
  background-position: 0 0; }

.social a.ic-fb {
  background-position: -40px 0; }

.social a.ic-gl {
  background-position: -120px 0; }

.social a.ic-pn {
  background-position: -80px 0; }

.social a.ic-tw:hover {
  border-color: #20b6ef;
  background-color: #20b6ef;
  background-position: 0px -40px; }

.social a.ic-fb:hover {
  background-position: -40px -40px;
  border-color: #3b5998;
  background-color: #3b5998; }

.social a.ic-gl:hover {
  background-position: -120px -40px;
  border-color: #d95232;
  background-color: #d95232; }

.social a.ic-pn:hover {
  background-position: -80px -40px;
  border-color: #cb2028;
  background-color: #cb2028; }

.brand {
  padding: 60px 0;
  text-align: center; }
  .brand a {
    display: inline-block;
    margin: 20px 0;
  }
  .brand a img {
    margin-right: 40px;
    vertical-align: middle; }
  .brand a:last-child img {
    margin-right: 0; }

.contacts {
  text-align: center;
  background: #222 url(../img/map.png) no-repeat right bottom; }

.contacts h2.title {
  color: #fff; }

.msg {
  margin-top: 70px; }

.msg .left, .msg .right {
  width: 48%; }

.msg input[type='text'],
.msg textarea {
  background: #fff;
  width: 100%;
  -webkit-box-shadow: none 2px 5px 2px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: none 2px 5px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: none 2px 5px 2px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: none 2px 5px 2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: none 2px 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: none 2px 5px 2px rgba(0, 0, 0, 0.4);
  border: none;
  margin-bottom: 30px;
  padding: 15px 20px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font: bold 14px/14px Arial, sans-serif;
  color: #777; }

.msg input[type='text'] {
  height: 50px;
  border: 1px solid #ccc; }

.msg textarea {
  height: 210px;
  resize: none;
  border: 1px solid #ccc; }

.msg input[type='text']::-webkit-input-placeholder,
.msg textarea::-webkit-input-placeholder {
  font: bold 14px/14px Arial, sans-serif;
  text-transform: uppercase;
  color: #bbb; }

.msg input[type='text']:-moz-placeholder,
.msg textarea:-moz-placeholder {
  font: bold 14px/14px Arial, sans-serif;
  text-transform: uppercase;
  color: #bbb; }

.msg input[type='text']::-moz-placeholder,
.msg textarea::-moz-placeholder {
  font: bold 14px/14px Arial, sans-serif;
  text-transform: uppercase;
  color: #bbb; }

.msg input[type='text']:-ms-input-placeholder,
.msg textarea:-ms-input-placeholder {
  font: bold 14px/14px Arial, sans-serif;
  text-transform: uppercase;
  color: #bbb; }

.msg input[type='text']:focus,
.msg textarea:focus {
  outline: none;
  border: 1px solid #fed136;
  -webkit-box-shadow: inset 0px 0px 0px 2px #fed136;
  -khtml-box-shadow: inset 0px 0px 0px 2px #fed136;
  -moz-box-shadow: inset 0px 0px 0px 2px #fed136;
  -ms-box-shadow: inset 0px 0px 0px 2px #fed136;
  -o-box-shadow: inset 0px 0px 0px 2px #fed136;
  box-shadow: inset 0px 0px 0px 2px #fed136; }

.footer {
  padding: 25px 0 25px 0; }
  .footer p {
    font: 14px/14px Arial, sans-serif;
    color: #777; }
  .footer .social {
    text-align: center;
      }

/*
  -----------------------------------------------------------------------------------------------------------
  --------------------------------Media Queries--------------------------------------------------------------
  -----------------------------------------------------------------------------------------------------------
*/

@media screen and (max-width: 580px) {
  .nav.right {
    display: none;
    margin: 0;
    position: absolute;
    padding: 70px 10px;
    float: none;
    top: -20px;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.6)
  }
  .nav.right li{
    float: none;
    text-align: center;
    margin: 20px 0;
  }
  .menu-icon {
    display: block;
  }
  .menu-close {
    display: block;
  }
}

@media only screen and (max-width: 960px) { 
  #header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .msg .left,
  .msg .right {
    float: none;
    width: 100%;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 700px) { 
  .footer .left {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 680px) { 
  .nav li {
    margin-right: 20px;
  }
}


@media only screen and (max-width: 710px) { 
  .about-item {
    margin-bottom: 45px;
  }
  .about-img {
    display: block;
    margin-bottom: 20px;
  }
  .about-img:after {
    display: none;
  }
  .about-text {
    position: static;
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
}

