@media only screen and (max-width: 767px) {
  /*============================
	=            home            =
	============================*/
  .main-wrapper {
    margin-top: 0; }
  .header-nav_mobile {
    font-size: 15px;
  }
  .intro-list {
    margin: 50px -25px 0;
  }
  .col-md-9.nopadding-left {
    padding-left: 15px; }
  .skill-con .col-md-1 {
    height: auto;
  }
    .skill-con .col-md-1 .skill-label {
      position: static;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      margin: 20px auto 0px;
      width: auto; }
  .timeline-con {
    margin: 50px -15px 0 -35px;
  }
  .section {
    padding: 6px var(--side-padding-section-mobile) 60px;
  }
  .section.experience {
    padding: 20px var(--side-padding-section-desktop) 90px;
  }
  .title:after {
    margin-left: calc(var(--side-padding-section-mobile) * -1);
    margin-right: calc(var(--side-padding-section-mobile) * -1);
  }
  .section.experience .title:after {
    margin-left: var(--side-padding-section-desktop);
    margin-right: var(--side-padding-section-desktop);
  }
  .xs-no-padding {
    padding: 0 !important;
  }
  /*=====  End of home  ======*/
}
  

@media only screen and (max-width: 1000px) and (min-width: 768px) {
  .header-img {
    display: none; }
  .main-wrapper {
    margin: 50px 0; }
  .header figure {
    text-align: center; }
    .header figure img {
      height: 675px; }
  .col-md-9 {
    margin-top: 20px; }
  .col-md-9.nopadding-left {
    padding-left: 15px; }
  .skill-con .col-md-1 {
    height: auto;
    margin-top: 20px; }
    .skill-con .col-md-1 .skill-label {
      position: static;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      margin: 0 auto;
      width: auto; } }

@media only screen and (max-width: 1000px) {
  .header-nav_mobile {
    display: block;
  }
  .header-nav {
    display: none;
  }
  .header-img {
    display: none; }
  /*===============================
	=            contact            =
	===============================*/
  .contact-box i {
    position: static;
    margin: 10px 0; }
  .contact-box .contact-item-con {
    width: 100%; }
  /*=====  End of contact  ======*/ }

@media only screen and (max-width: 480px) {
  .container {
    width: auto; }
  /*============================
	=            home            =
	============================*/
  .intro-info-list .property, .intro-info-list .value {
    float: none;
    width: auto;
    text-align: center; }
  /*=====  End of home  ======*/
  /*===============================
	=            contact            =
	===============================*/
  /*=====  End of contact  ======*/ }
